In [77]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

In [78]:
premier_league_links = ["https://www.transfermarkt.us/manchester-city/startseite/verein/281?saison_id=2020",
            "https://www.transfermarkt.us/manchester-united/startseite/verein/985?saison_id=2020",
            "https://www.transfermarkt.us/liverpool-fc/startseite/verein/31?saison_id=2020",
            "https://www.transfermarkt.us/chelsea-fc/startseite/verein/631?saison_id=2020",
            "https://www.transfermarkt.us/leicester-city/startseite/verein/1003?saison_id=2020",
            "https://www.transfermarkt.us/west-ham-united/startseite/verein/379?saison_id=2020",
            "https://www.transfermarkt.us/tottenham-hotspur/startseite/verein/148?saison_id=2020",
            "https://www.transfermarkt.us/arsenal-fc/startseite/verein/11?saison_id=2020",
            "https://www.transfermarkt.us/leeds-united/startseite/verein/399?saison_id=2020",
            "https://www.transfermarkt.us/everton-fc/startseite/verein/29?saison_id=2020",
            "https://www.transfermarkt.us/aston-villa/startseite/verein/405?saison_id=2020",
            "https://www.transfermarkt.us/newcastle-united/startseite/verein/762?saison_id=2020",
            "https://www.transfermarkt.us/wolverhampton-wanderers/startseite/verein/543?saison_id=2020",
            "https://www.transfermarkt.us/crystal-palace/startseite/verein/873?saison_id=2020",
            "https://www.transfermarkt.us/southampton-fc/startseite/verein/180?saison_id=2020",
            "https://www.transfermarkt.us/brighton-amp-hove-albion/startseite/verein/1237?saison_id=2020",
            "https://www.transfermarkt.us/burnley-fc/startseite/verein/1132?saison_id=2020",
            "https://www.transfermarkt.us/fulham-fc/startseite/verein/931?saison_id=2020",
            "https://www.transfermarkt.us/west-bromwich-albion/startseite/verein/984?saison_id=2020",
            "https://www.transfermarkt.us/sheffield-united/startseite/verein/350?saison_id=2020"]

la_liga_links = ["https://www.transfermarkt.us/atletico-de-madrid/startseite/verein/13?saison_id=2020",
                "https://www.transfermarkt.us/real-madrid/startseite/verein/418?saison_id=2020",
                "https://www.transfermarkt.us/fc-barcelona/startseite/verein/131?saison_id=2020",
                "https://www.transfermarkt.us/sevilla-fc/startseite/verein/368?saison_id=2020",
                "https://www.transfermarkt.us/real-sociedad/startseite/verein/681?saison_id=2020",
                "https://www.transfermarkt.us/real-betis-balompie/startseite/verein/150?saison_id=2020",
                "https://www.transfermarkt.us/villarreal-cf/startseite/verein/1050?saison_id=2020",
                "https://www.transfermarkt.us/celta-de-vigo/startseite/verein/940?saison_id=2020",
                "https://www.transfermarkt.us/granada-cf/startseite/verein/16795?saison_id=2020",
                "https://www.transfermarkt.us/athletic-bilbao/startseite/verein/621?saison_id=2020",
                "https://www.transfermarkt.us/ca-osasuna/startseite/verein/331?saison_id=2020",
                "https://www.transfermarkt.us/cadiz-cf/startseite/verein/2687?saison_id=2020",
                "https://www.transfermarkt.us/valencia-cf/startseite/verein/1049?saison_id=2020",
                "https://www.transfermarkt.us/levante-ud/startseite/verein/3368?saison_id=2020",
                "https://www.transfermarkt.us/getafe-cf/startseite/verein/3709?saison_id=2020",
                "https://www.transfermarkt.us/deportivo-alaves/startseite/verein/1108?saison_id=2020",
                "https://www.transfermarkt.us/elche-cf/startseite/verein/1531?saison_id=2020",
                "https://www.transfermarkt.us/sd-huesca/startseite/verein/5358?saison_id=2020",
                "https://www.transfermarkt.us/real-valladolid-cf/startseite/verein/366?saison_id=2020",
                "https://www.transfermarkt.us/sd-eibar/startseite/verein/1533?saison_id=2020"]

serie_a_links = ["https://www.transfermarkt.us/inter-milan/startseite/verein/46?saison_id=2020",
                "https://www.transfermarkt.us/ac-milan/startseite/verein/5?saison_id=2020",
                "https://www.transfermarkt.us/atalanta-bc/startseite/verein/800?saison_id=2020",
                "https://www.transfermarkt.us/juventus-fc/startseite/verein/506?saison_id=2020",
                "https://www.transfermarkt.us/ssc-napoli/startseite/verein/6195?saison_id=2020",
                "https://www.transfermarkt.us/ss-lazio/startseite/verein/398?saison_id=2020",
                "https://www.transfermarkt.us/as-roma/startseite/verein/12?saison_id=2020",
                "https://www.transfermarkt.us/us-sassuolo/startseite/verein/6574?saison_id=2020",
                "https://www.transfermarkt.us/uc-sampdoria/startseite/verein/1038?saison_id=2020",
                "https://www.transfermarkt.us/hellas-verona/startseite/verein/276?saison_id=2020",
                "https://www.transfermarkt.us/genoa-cfc/startseite/verein/252?saison_id=2020",
                "https://www.transfermarkt.us/bologna-fc-1909/startseite/verein/1025?saison_id=2020",
                "https://www.transfermarkt.us/acf-fiorentina/startseite/verein/430?saison_id=2020",
                "https://www.transfermarkt.us/udinese-calcio/startseite/verein/410?saison_id=2020",
                "https://www.transfermarkt.us/spezia-calcio/startseite/verein/3522?saison_id=2020",
                "https://www.transfermarkt.us/cagliari-calcio/startseite/verein/1390?saison_id=2020",
                "https://www.transfermarkt.us/torino-fc/startseite/verein/416?saison_id=2020",
                "https://www.transfermarkt.us/benevento-calcio/startseite/verein/4171?saison_id=2020",
                "https://www.transfermarkt.us/fc-crotone/startseite/verein/4083?saison_id=2020",
                "https://www.transfermarkt.us/parma-calcio-1913/startseite/verein/130?saison_id=2020"]

bundesliga_links = ["https://www.transfermarkt.us/bayern-munich/startseite/verein/27?saison_id=2020",
                "https://www.transfermarkt.us/rb-leipzig/startseite/verein/23826?saison_id=2020",
                "https://www.transfermarkt.us/borussia-dortmund/startseite/verein/16?saison_id=2020",
                "https://www.transfermarkt.us/vfl-wolfsburg/startseite/verein/82?saison_id=2020",
                "https://www.transfermarkt.us/eintracht-frankfurt/startseite/verein/24?saison_id=2020",
                "https://www.transfermarkt.us/bayer-04-leverkusen/startseite/verein/15?saison_id=2020",
                "https://www.transfermarkt.us/1-fc-union-berlin/startseite/verein/89?saison_id=2020",
                "https://www.transfermarkt.us/borussia-monchengladbach/startseite/verein/18?saison_id=2020",
                "https://www.transfermarkt.us/vfb-stuttgart/startseite/verein/79?saison_id=2020",
                "https://www.transfermarkt.us/sc-freiburg/startseite/verein/60?saison_id=2020",
                "https://www.transfermarkt.us/tsg-1899-hoffenheim/startseite/verein/533?saison_id=2020",
                "https://www.transfermarkt.us/1-fsv-mainz-05/startseite/verein/39?saison_id=2020",
                "https://www.transfermarkt.us/fc-augsburg/startseite/verein/167?saison_id=2020",
                "https://www.transfermarkt.us/hertha-bsc/startseite/verein/44?saison_id=2020",
                "https://www.transfermarkt.us/arminia-bielefeld/startseite/verein/10?saison_id=2020",
                "https://www.transfermarkt.us/1-fc-koln/startseite/verein/3?saison_id=2020",
                "https://www.transfermarkt.us/sv-werder-bremen/startseite/verein/86?saison_id=2020",
                "https://www.transfermarkt.us/fc-schalke-04/startseite/verein/33?saison_id=2020"]

ligue_1_links = ["https://www.transfermarkt.us/losc-lille/startseite/verein/1082?saison_id=2020",
                "https://www.transfermarkt.us/paris-saint-germain/startseite/verein/583?saison_id=2020",
                "https://www.transfermarkt.us/as-monaco/startseite/verein/162?saison_id=2020",
                "https://www.transfermarkt.us/olympique-lyon/startseite/verein/1041?saison_id=2020",
                "https://www.transfermarkt.us/olympique-marseille/startseite/verein/244?saison_id=2020",
                "https://www.transfermarkt.us/stade-rennais-fc/startseite/verein/273?saison_id=2020",
                "https://www.transfermarkt.us/rc-lens/startseite/verein/826?saison_id=2020",
                "https://www.transfermarkt.us/montpellier-hsc/startseite/verein/969?saison_id=2020",
                "https://www.transfermarkt.us/ogc-nice/startseite/verein/417?saison_id=2020",
                "https://www.transfermarkt.us/fc-metz/startseite/verein/347?saison_id=2020",
                "https://www.transfermarkt.us/as-saint-etienne/startseite/verein/618?saison_id=2020",
                "https://www.transfermarkt.us/fc-girondins-bordeaux/startseite/verein/40?saison_id=2020",
                "https://www.transfermarkt.us/sco-angers/startseite/verein/1420?saison_id=2020",
                "https://www.transfermarkt.us/stade-reims/startseite/verein/1421?saison_id=2020",
                "https://www.transfermarkt.us/rc-strasbourg-alsace/startseite/verein/667?saison_id=2020",
                "https://www.transfermarkt.us/fc-lorient/startseite/verein/1158?saison_id=2020",
                "https://www.transfermarkt.us/stade-brest-29/startseite/verein/3911?saison_id=2020",
                "https://www.transfermarkt.us/fc-nantes/startseite/verein/995?saison_id=2020",
                "https://www.transfermarkt.us/nimes-olympique/startseite/verein/1160?saison_id=2020",
                "https://www.transfermarkt.us/dijon-fco/startseite/verein/2969?saison_id=2020"]


headers = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

In [104]:
for link in premier_league_links:
    start = len("https://www.transfermarkt.us/")
    end = link.find("/startseite")
    team_name = link[start:end]
    team_name = team_name.replace('-', ' ')

    print(team_name)

manchester city
manchester united
liverpool fc
chelsea fc
leicester city
west ham united
tottenham hotspur
arsenal fc
leeds united
everton fc
aston villa
newcastle united
wolverhampton wanderers
crystal palace
southampton fc
brighton amp hove albion
burnley fc
fulham fc
west bromwich albion
sheffield united

In [105]:
import random

def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString)


def scrape_links(links):
    PlayersList = []
    ValuesList = []
    TeamsList = []
    
    
    user_agent_list = [
        'Mozilla/5.0 (iPhone; CPU iPhone OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148',
        'Mozilla/5.0 (iPhone; CPU iPhone OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.1 Mobile/15E148 Safari/604.1',
        'Mozilla/5.0 (iPhone; CPU iPhone OS 12_1_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/16D57',
        'Mozilla/5.0 (iPhone; CPU iPhone OS 13_3_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.5 Mobile/15E148 Safari/604.1',
        'Mozilla/5.0 (iPhone; CPU iPhone OS 13_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.4 Mobile/15E148 Safari/604.1',
        'Mozilla/5.0 (iPhone; CPU iPhone OS 12_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148',
        'Nokia7610/2.0 (5.0509.0) SymbianOS/7.0s Series60/2.1 Profile/MIDP-2.0 Configuration/CLDC-1.0',
        'Mozilla/5.0 (Series40; Nokia200/11.64; Profile/MIDP-2.1 Configuration/CLDC-1.1) Gecko/20100401 S40OviBrowser/2.0.2.68.14',
        'Mozilla/5.0 (Series40; Nokia200/11.56; Profile/MIDP-2.1 Configuration/CLDC-1.1) Gecko/20100401 S40OviBrowser/2.0.1.62.6',
        'Mozilla/5.0 (iPhone; CPU iPhone OS 13_3_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 [FBAN/FBIOS;FBDV/iPhone10,1;FBMD/iPhone;FBSN/iOS;FBSV/13.3.1;FBSS/2;FBID/phone;FBLC/en_US;FBOP/5;FBCR/Verizon]'
    ]
    
    for link in links:
        team_players = []
        team_values = []
        
        start = len("https://www.transfermarkt.us/")
        end = link.find("/startseite")
        team_name = link[start:end]
        team_name = team_name.replace('-', ' ')
        
        user_agent = random.choice(user_agent_list)
        headers = {'User-Agent': user_agent}

        req = urllib.request.Request(url=link, headers=headers)
        with urllib.request.urlopen(req) as response:
            page_html = response.read()

        # Create beautiful soup object from HTML
        soup = BeautifulSoup(page_html, 'html.parser')

        players = soup.find_all("a", {"class": "spielprofil_tooltip"})
        for player in players:
            player_name = player.get("title")
            if player_name not in team_players:
                team_players.append(player_name)
                PlayersList.append(player_name)
                TeamsList.append(team_name)

        values = soup.find_all("td", {"class": "rechts hauptlink"})
        for i in range(len(values)):
            value = values[i].text
            if hasNumbers(value) == True:
                ValuesList.append(value)
                team_values.append(value)

            else:
                ValuesList.append('0')
                team_values.append('0')

        print("num players: ", len(team_players), "  num values: ", len(team_values))
        
                
    print(len(PlayersList))
    print(len(ValuesList))
                
    df = pd.DataFrame({'Players': PlayersList, "Values": ValuesList, "Team": TeamsList})
    return df

In [111]:
# One by one for la liga and serie a links
def scrape_link(link, PlayersList, ValuesList, TeamsList):
#     headers = {
#     "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", 
#     "Accept-Encoding": "gzip, deflate", 
#     "Accept-Language": "en-GB,en-US;q=0.9,en;q=0.8", 
#     "Dnt": "1", 
#     "Host": "httpbin.org", 
#     "Upgrade-Insecure-Requests": "1", 
#     "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.97 Safari/537.36", 
#     }
    
    start = len("https://www.transfermarkt.us/")
    end = link.find("/startseite")
    team_name = link[start:end]
    team_name = team_name.replace('-', ' ')
    
    user_agent_list = [
        'Mozilla/5.0 (iPhone; CPU iPhone OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148',
        'Mozilla/5.0 (iPhone; CPU iPhone OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.1 Mobile/15E148 Safari/604.1',
        'Mozilla/5.0 (iPhone; CPU iPhone OS 12_1_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/16D57',
        'Mozilla/5.0 (iPhone; CPU iPhone OS 13_3_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.5 Mobile/15E148 Safari/604.1',
        'Mozilla/5.0 (iPhone; CPU iPhone OS 13_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.4 Mobile/15E148 Safari/604.1',
        'Mozilla/5.0 (iPhone; CPU iPhone OS 12_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148',
        'Nokia7610/2.0 (5.0509.0) SymbianOS/7.0s Series60/2.1 Profile/MIDP-2.0 Configuration/CLDC-1.0',
        'Mozilla/5.0 (Series40; Nokia200/11.64; Profile/MIDP-2.1 Configuration/CLDC-1.1) Gecko/20100401 S40OviBrowser/2.0.2.68.14',
        'Mozilla/5.0 (Series40; Nokia200/11.56; Profile/MIDP-2.1 Configuration/CLDC-1.1) Gecko/20100401 S40OviBrowser/2.0.1.62.6',
        'Mozilla/5.0 (iPhone; CPU iPhone OS 13_3_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 [FBAN/FBIOS;FBDV/iPhone10,1;FBMD/iPhone;FBSN/iOS;FBSV/13.3.1;FBSS/2;FBID/phone;FBLC/en_US;FBOP/5;FBCR/Verizon]'
    ]
    
    team_players = []
    team_values = []
        

    user_agent = random.choice(user_agent_list)
    headers = {'User-Agent': user_agent}

    req = urllib.request.Request(url=link, headers=headers)
    with urllib.request.urlopen(req) as response:
        page_html = response.read()

    # Create beautiful soup object from HTML
    soup = BeautifulSoup(page_html, 'html.parser')

    players = soup.find_all("a", {"class": "spielprofil_tooltip"})
    for player in players:
        player_name = player.get("title")
        if player_name not in team_players:
            team_players.append(player_name)
            PlayersList.append(player_name)
            TeamsList.append(team_name)

    values = soup.find_all("td", {"class": "rechts hauptlink"})
    for i in range(len(values)):
        value = values[i].text
        if hasNumbers(value) == True:
            ValuesList.append(value)
            team_values.append(value)

        else:
            ValuesList.append('0')
            team_values.append('0')

    print("num players: ", len(team_players), "  num values: ", len(team_values))
        
                
    print(len(PlayersList))
    print(len(ValuesList))
    print(len(TeamsList))
                
#     df = pd.DataFrame({'Players': PlayersList, "Values": ValuesList})
#     return df
    return PlayersList, ValuesList, TeamsList

In [106]:
premier_league_df = scrape_links(premier_league_links)

num players:  36   num values:  36
num players:  39   num values:  39
num players:  43   num values:  43
num players:  39   num values:  39
num players:  40   num values:  40
num players:  39   num values:  39
num players:  41   num values:  41
num players:  42   num values:  42
num players:  39   num values:  39
num players:  44   num values:  44
num players:  53   num values:  53
num players:  33   num values:  33
num players:  38   num values:  38
num players:  36   num values:  36
num players:  39   num values:  39
num players:  46   num values:  46
num players:  32   num values:  32
num players:  38   num values:  38
num players:  43   num values:  43
num players:  40   num values:  40
800
800

In [112]:
la_liga_player_list = []
la_liga_value_list = []
la_liga_teams_list = []

la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[0], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  39   num values:  39
39
39
39

In [113]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[1], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  37   num values:  37
76
76
76

In [114]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[2], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  33   num values:  33
109
109
109

In [115]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[3], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  38   num values:  38
147
147
147

In [116]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[4], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  38   num values:  38
185
185
185

In [117]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[5], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  33   num values:  33
218
218
218

In [118]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[6], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  36   num values:  36
254
254
254

In [119]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[7], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  41   num values:  41
295
295
295

In [120]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[8], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  44   num values:  44
339
339
339

In [121]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[9], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  32   num values:  32
371
371
371

In [122]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[10], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  36   num values:  36
407
407
407

In [123]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[11], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  41   num values:  41
448
448
448

In [124]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[12], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  35   num values:  35
483
483
483

In [125]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[13], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  34   num values:  34
517
517
517

In [126]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[14], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  33   num values:  33
550
550
550

In [127]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[15], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  35   num values:  35
585
585
585

In [128]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[16], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  41   num values:  42
626
627
626

In [143]:
dropped_value = la_liga_value_list.pop(-27)
print(dropped_value)
print(la_liga_player_list[-27], la_liga_value_list[-27])
print(len(la_liga_player_list), len(la_liga_value_list), len(la_liga_teams_list))

0
Youssouf Koné $1.76m
626 626 626

In [145]:
print(la_liga_player_list[-26], la_liga_value_list[-26])

Helibelton Palacios $1.10m

In [146]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[17], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  34   num values:  34
660
660
660

In [147]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[18], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  39   num values:  39
699
699
699

In [148]:
la_liga_player_list, la_liga_value_list, la_liga_teams_list = scrape_link(la_liga_links[19], la_liga_player_list, la_liga_value_list, la_liga_teams_list)

num players:  34   num values:  34
733
733
733

In [151]:
la_liga_df = pd.DataFrame({'Players': la_liga_player_list, "Values": la_liga_value_list, "Team": la_liga_teams_list})
la_liga_df.to_csv('la_liga_market_value.csv')

In [108]:
bundesliga_df = scrape_links(bundesliga_links)

num players:  45   num values:  45
num players:  32   num values:  32
num players:  32   num values:  32
num players:  30   num values:  30
num players:  36   num values:  36
num players:  33   num values:  33
num players:  33   num values:  33
num players:  33   num values:  33
num players:  32   num values:  32
num players:  30   num values:  30
num players:  37   num values:  37
num players:  36   num values:  36
num players:  31   num values:  31
num players:  38   num values:  38
num players:  33   num values:  33
num players:  36   num values:  36
num players:  33   num values:  33
num players:  45   num values:  45
625
625

In [152]:
serie_a_player_list = []
serie_a_value_list = []
serie_a_teams_list = []

serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[0], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  36   num values:  36
36
36
36

In [153]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[1], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  42   num values:  42
78
78
78

In [154]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[2], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  39   num values:  39
117
117
117

In [155]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[3], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  45   num values:  45
162
162
162

In [156]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[4], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  32   num values:  32
194
194
194

In [157]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[5], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  44   num values:  44
238
238
238

In [158]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[6], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  46   num values:  46
284
284
284

In [159]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[7], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  39   num values:  39
323
323
323

In [160]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[8], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  34   num values:  34
357
357
357

In [161]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[9], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  46   num values:  46
403
403
403

In [162]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[10], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  44   num values:  44
447
447
447

In [163]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[11], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  45   num values:  45
492
492
492

In [164]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[12], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  41   num values:  41
533
533
533

In [165]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[13], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  42   num values:  42
575
575
575

In [166]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[14], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  39   num values:  39
614
614
614

In [167]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[15], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  42   num values:  42
656
656
656

In [168]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[16], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  40   num values:  40
696
696
696

In [169]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[17], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  36   num values:  36
732
732
732

In [170]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[18], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  41   num values:  41
773
773
773

In [171]:
serie_a_player_list, serie_a_value_list, serie_a_teams_list = scrape_link(serie_a_links[19], serie_a_player_list, serie_a_value_list, serie_a_teams_list)

num players:  53   num values:  53
826
826
826

In [173]:
serie_a_df = pd.DataFrame({'Players': serie_a_player_list, "Values": serie_a_value_list, "Team": serie_a_teams_list})
serie_a_df.to_csv('serie_a_market_value.csv')

In [109]:
ligue_1_df = scrape_links(ligue_1_links)

num players:  32   num values:  32
num players:  41   num values:  41
num players:  33   num values:  33
num players:  40   num values:  40
num players:  43   num values:  43
num players:  37   num values:  37
num players:  36   num values:  36
num players:  34   num values:  34
num players:  41   num values:  41
num players:  35   num values:  35
num players:  43   num values:  43
num players:  36   num values:  36
num players:  38   num values:  38
num players:  34   num values:  34
num players:  34   num values:  34
num players:  34   num values:  34
num players:  32   num values:  32
num players:  32   num values:  32
num players:  36   num values:  36
num players:  37   num values:  37
728
728

In [89]:
bundesliga_df

                  Players     Values
0            Manuel Neuer  $19.80m
1         Alexander Nübel   $6.60m
2            Sven Ulreich  $990Th.
3    Ron-Thorben Hoffmann  $660Th.
4         Lukas Schneller  $220Th.
..                    ...        ...
620         Matthew Hoppe   $4.95m
621          Ahmed Kutucu   $1.87m
622   Klaas-Jan Huntelaar  $880Th.
623        Vedad Ibisevic  $550Th.
624          Luca Schuler  $220Th.

[625 rows x 2 columns]

In [90]:
premier_league_df

               Players     Values
0              Ederson  $55.00m
1         Zack Steffen   $6.60m
2         Scott Carson  $330Th.
3       James Trafford          0
4           Rúben Dias  $82.50m
..                 ...        ...
795       Oliver Burke   $6.60m
796   David McGoldrick   $1.65m
797    Daniel Jebbison   $1.10m
798        Billy Sharp  $550Th.
799  Antwoine Hackford  $110Th.

[800 rows x 2 columns]

In [91]:
ligue_1_df

                Players     Values
0          Mike Maignan  $27.50m
1      Orestis Karnezis  $550Th.
2       Lucas Chevalier  $550Th.
3           Sven Botman  $30.80m
4           Tiago Djaló   $5.50m
..                  ...        ...
723        Roger Assalé   $2.75m
724    Aboubakar Kamara   $2.20m
725  Aurélien Scheidler   $1.10m
726      Rayan Philippe  $770Th.
727        Jacques Siwe  $440Th.

[728 rows x 2 columns]

In [110]:
premier_league_df.to_csv('premier_league_market_value.csv')
bundesliga_df.to_csv('bundesliga_market_value.csv')
ligue_1_df.to_csv('ligue_1_market_value.csv')

In [174]:
premier_league_df

               Players     Values              Team
0              Ederson  $55.00m     manchester city
1         Zack Steffen   $6.60m     manchester city
2         Scott Carson  $330Th.     manchester city
3       James Trafford          0   manchester city
4           Rúben Dias  $82.50m     manchester city
..                 ...        ...               ...
795       Oliver Burke   $6.60m    sheffield united
796   David McGoldrick   $1.65m    sheffield united
797    Daniel Jebbison   $1.10m    sheffield united
798        Billy Sharp  $550Th.    sheffield united
799  Antwoine Hackford  $110Th.    sheffield united

[800 rows x 3 columns]

In [175]:
la_liga_df

                Players     Values                Team
0             Jan Oblak  $77.00m    atletico de madrid
1             Ivo Grbic   $3.85m    atletico de madrid
2      Miguel San Román  $770Th.    atletico de madrid
3    José María Giménez  $66.00m    atletico de madrid
4         Mario Hermoso  $38.50m    atletico de madrid
..                  ...        ...                 ...
728         Kike García   $3.08m              sd eibar
729      Yoshinori Muto   $2.75m              sd eibar
730        Sergi Enrich   $1.98m              sd eibar
731     Quique González  $880Th.              sd eibar
732         Unai Arieta          0            sd eibar

[733 rows x 3 columns]

In [176]:
bundesliga_df

                  Players     Values           Team
0            Manuel Neuer  $19.80m    bayern munich
1         Alexander Nübel   $6.60m    bayern munich
2            Sven Ulreich  $990Th.    bayern munich
3    Ron-Thorben Hoffmann  $660Th.    bayern munich
4         Lukas Schneller  $220Th.    bayern munich
..                    ...        ...            ...
620         Matthew Hoppe   $4.95m    fc schalke 04
621          Ahmed Kutucu   $1.87m    fc schalke 04
622   Klaas-Jan Huntelaar  $880Th.    fc schalke 04
623        Vedad Ibisevic  $550Th.    fc schalke 04
624          Luca Schuler  $220Th.    fc schalke 04

[625 rows x 3 columns]

In [177]:
serie_a_df

                Players     Values               Team
0            Ionut Radu   $6.60m          inter milan
1      Samir Handanovic   $2.75m          inter milan
2       Filip Stankovic  $550Th.          inter milan
3       Daniele Padelli  $440Th.          inter milan
4        Milan Skriniar  $66.00m          inter milan
..                  ...        ...                ...
821   Andreas Cornelius   $6.60m    parma calcio 1913
822     Roberto Inglese   $6.60m    parma calcio 1913
823      Graziano Pellè  $660Th.    parma calcio 1913
824     Andrea Adorante  $440Th.    parma calcio 1913
825  Gabriele Artistico  $110Th.    parma calcio 1913

[826 rows x 3 columns]

In [178]:
ligue_1_df

                Players     Values        Team
0          Mike Maignan  $27.50m    losc lille
1      Orestis Karnezis  $550Th.    losc lille
2       Lucas Chevalier  $550Th.    losc lille
3           Sven Botman  $30.80m    losc lille
4           Tiago Djaló   $5.50m    losc lille
..                  ...        ...         ...
723        Roger Assalé   $2.75m     dijon fco
724    Aboubakar Kamara   $2.20m     dijon fco
725  Aurélien Scheidler   $1.10m     dijon fco
726      Rayan Philippe  $770Th.     dijon fco
727        Jacques Siwe  $440Th.     dijon fco

[728 rows x 3 columns]